.popup {
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  /* max-width: 500px; */
  font-size: 32px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
}

.popup-content {
  width: 80%;
  max-width: 900px;
  background-color: #fff;
  padding: 20px;
  position: relative;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.popup-close-button {
  outline: none;
  border: none;
  background: none;
  width: 50px;
  height: 50px;
  cursor: pointer;
  position: absolute;
  top: -60px;
  right: 0;
  background-color: #ffffff;
  background-image: url('../../images/close.svg');
  background-size: 25px 25px;
  background-position: center;
  background-repeat: no-repeat;
}

.popup-image {
  /* max-width: 580px; */
}

.popup-title {
  margin: 0;
  font-size: 32px;
  font-weight: 700;
}

.popup-text {
  margin: 0;
  color: #9B9B9B;
  font-size: 24px;
}