.post-card {
  cursor: pointer;
  max-width: 360px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (max-width: 768px) {
  .post-card {
    max-width: 335px;
    width: calc(100vw - 1.25rem);
    }
}

.post-card-image {
margin: 0;
}

.post-card-tags {
  margin: 0;
  font-size: 0.8rem;
  line-height: 0.8rem;
  font-weight: 700;
  color: #EB0028;
}

.post-card-title {
  margin: 0;
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 700;
}

.post-card-info {
  display: flex;
  margin: 0;
  font-weight: 400;
  color: #9B9B9B;
  font-size: 0.75rem;
  line-height: 0.75rem;
}

.post-card-info-author {
  font-weight: 700;
  color: #000000;
}

.post-card-text {
  margin: 0;
  color: #9B9B9B;
  font-size: 0.875rem;
  line-height: 0.875rem;
}