.header {
  top: 0;
  z-index: 1000;
  transition: top 0.3s;
  border-bottom: 1px #e9e9e9 solid;
}

.header-container {
  margin: 0 auto;
  padding: 0;
  display: flex;
  align-items: center;
  max-width: 1160px;
  position: relative;
  height: 82px;
}

.header-logo {
  width: 181px;
  height: 27px;
  margin: 29px auto 25px;
}

.header-menu-button {
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  background-image: url('../../images/burger-button.svg');
  background-size: contain;
  background-repeat: no-repeat;
  outline: none;
  border: none;
  position: absolute;
  left: 1.25rem;
  display: none;
}

@media screen and (max-width: 768px) {
  .header-menu-button {
    display: flex;
  }
}